%style{:type => 'text/css'} 
  :sass
    table
      :border-collapse collapse
      
      th
        :padding 2px 5px
        :text-align left
        :background-color #EEE
        
      td
        :padding 2px 5px
        :border 1px solid #EEE

%p= "Hi #{@payment.recipient.firstname}"

%p
  I would like to let you know that I just deleted the following payment:

%table{:cellspacing => 0, :cellpadding => 0}
  %tr
    %th Date
    %th Amount
    %th Comment
  %tr
    %td= @payment.date
    %td= number_to_currency(@payment.amount, :unit => "CHF ", :delimiter => "'")
    %td= @payment.comment
    
%p
  Click 
  %a{:href => url_for(:controller => 'payments', :action => 'index', :only_path => false)} here
  to review all payments online.
%p
  Regards,
  %br
  = "#{@payment.sender.firstname}"