%tr{:id => "user-row-%s" % user.id, :class => cycle("odd", "even")}
  %td{:class => user.admin? ? "admin" : "user" }
  %td= user.login
  %td= user.name
  %td= user.email
  %td= user.bank_account_no
  %td.action.center
    = edit_user_link(user)
    = destroy_user_link(user)